/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "fonts";

/* 	Variables, Mixins, Global Extends
	------------------------------------------------------- */

	$orange: #FF4700;
	$green: #5cb92e;
	$gray: #d2d3d5;
	$white: #f1f2f2;
	$yellow: #ffef61;
	$black: #464646;

	/* 	Fonts  -------------------------------------------- */

	$asap: 'asapregular', sans-serif;
	$asap_b: 'asapbold', sans-serif;
	$asap_i: 'asapitalic', sans-serif;
	$asap_bi: 'asapbold_italic', sans-serif;


	$delicious: 'deliciousroman', sans-serif;
	$delicious_b: 'deliciousbold', sans-serif;
	$delicious_i: 'deliciousitalic', sans-serif;
	$delicious_bb: 'delicious_heavyregular', sans-serif;
	$delicious_bi: 'deliciousbold_italic', sans-serif;


	%rounded-corner {
		border-radius: 4px;
	}

	.clearfix {
		@include clearfix;
	}

	// Reveal.scss benefits from variables by being placed after them here.
	@import "reveal";


/* 	Global
	------------------------------------------------------- */

	body {
		background-color: $white;
		position: relative;
		font-family: $asap;
		font-size: 20px;
		min-height: 700px;
	}

	$bg_w: 1500px;
	$bg_h: 280px;

	.bg-bot {
		position: absolute;
		bottom: -50px;
		width: $bg_w;
		height: $bg_h;
		left: 50%;
		margin-left: (-$bg_w/2);
		background: url("../images/bg-bot.png") 0 0 no-repeat;
	}

	.bg-top {
		position: absolute;
		top: 0;
		height: 57px;
		width: 100%;
		background: url("../images/bg-top.png") 0 0 repeat-x;
	}

	.logo {
		display: block;
		background: url('../images/logo-gumtree.png') no-repeat;
		position: fixed;
		margin: 4px 10px;
		font-size: 0;
		width: 68px;
		z-index: 1;
		height: 76px;
	}

	a {
		color: $orange;
		text-decoration: none;
		@include single-transition(color, .1s , linear);

		&:visited {
			color: $orange + #271;
		}
	}

	.references {
		position: absolute;
		bottom:72px;
		right: 0;
		left: 0;
		font-family: $delicious;
		font-size: 18px;
		margin: auto;
		display: block;
		text-align: center;
		z-index: 2;
		h3 {
			color: #fff;
			font-size: 24px;
			font-family: $delicious_b;
			display: inline-block;

		}
		ul {
			display: inline-block;
			list-style-type: bullet;
		}
		li {
			padding-bottom: 22px;
			display: inline-block;
			padding-left: 8px;
			position: relative;
			a {
				color: #fff;
			}

			&:first-child:before {
				display: none;
			}

			&:before {
				content:'|';
				position: absolute;
				left: 0;
				top: 1px;
				color: $yellow;
			}
		}
	}

	.reference-links {
		float: left;
		margin-right: 20px;
	}

	.reveal {
		position: relative;
		top: 47px;
		height: 69%;
		width: 970px;
		margin: auto;
	}

/* 	Navigation
	------------------------------------------------------- */

	.nav-toggle {
		position: fixed;
		top: 0;
		right: 0;
		font-size: 20px;
		padding: 8px 20px;
		cursor: pointer;
		z-index: 40;

		.nav-on {
			display: none;
			color: #fff;
		}

		.nav-off {
			display: block;
		}

		&.off {
			.nav-on {
				display: block;
			}

			.nav-off {
				display: none;
			}
		}
	}

	.nav-off {
		color: #fff;
	}

	.nav-header {
		font-size: 22px;
		line-height: 28px;
		margin: 5px 0 15px;
		color: rgb(255, 255, 255);
		text-align: left;
		color: #fff;
		font-family: $delicious_b;
		top: 0;
		margin-left: 14px;
		color: $yellow;
		text-decoration: underline;
	}

	.nav-slider {
		// @include transition(all, .5s, ease-out);
		-webkit-transition: -webkit-transform .5s ease;
		-moz-transition: -moz-transform .5s ease;
		-ms-transition: -ms-transform .5s ease;
		-o-transition: -o-transform .5s ease;
		transition: transform .5s ease;
		padding-bottom: 20px;
		background-color: $gray;
		@extend .clearfix;
		background-color: green;
		position: absolute;
		right: 0;
		z-index: 40;
		width: 280px;
		height: 100%;
		@include translate3d(0, 0, 0);

		&.off {
			@include translate3d(281px, 0, 0);
		}
	}

	//IE9 fallback
	.no-transforms {
		margin-right: 0;
		.nav-slider {
			margin-right: 0;
			&.off {
				margin-right: -281px;
			}
		}
	}

	.nav-list {
		display: block;
		padding-left: 62px;
		ol {
			list-style-type: decimal;
			display: block;
			margin: auto;
			color: #fff;

			li {

				a {
					color: #fff;
					display: inline-block;
					text-decoration: none;
					font-family: $delicious;
					padding: 2px 0;
					margin-bottom: 6px;

					&:hover {
						color: $green;
					}
				}
			}

		}
	}

/* 	Car slide
	------------------------------------------------------- */
	.car-slide {
		text-align: left;
	}

	.car-media {
		height: 300px;
		width: 700px;
		text-align: center;
		margin: auto;
		position: relative;
	}
	.car-image {
		display: block;
		margin: auto;
		height: 300px;
		// @include transition(transform, .5s);
	}

	.car-vid {
		// @include rotateX(180deg);
		left: 0;
		height: 300px;
		width: 100%;
	}

	.car-vid-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 100%;
		bottom: 0;
		overflow: hidden;
	}

	// Vid/image toggling

	.vid-toggle {
		@include transition(top, .5s);
		font-size: 16px;
		line-height: 16px;
		cursor: pointer;
		position: absolute !important;
		top: -0px;
		left: 180px;
		background-color: $orange;
		color: #fff;
		display: block;
		padding: 10px 0 6px !important;
		text-decoration: none;
		width: 150px;
		text-align: center;

		&:after {
			content:'';
			display: block;
			height: 2px;
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			background-color: $orange + #555;
		}
	}

	.img-back {
		display: none;
	}

	.car-media {

		text-align: left;

		&.vid-on {
			.car-image {
				display: none;
				// @include rotateX(180deg);
			}
			.car-vid-container {
				right:0;
			}

			.vid-toggle {
				@include translate3d(0, -32px, 0);
			}

			.img-back {
				display: inline;
			}

			.vid-back {
				display: none;
			}
		}
	}

	%car-header {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
	}

	.car-info {
		display: inline-block;
		margin-bottom: 10px;
	}

	.car-num {
		@extend %car-header;
		background-color: $orange;
		font-size: 22px;
		line-height: 37px;
		font-family: $asap;
		padding: 2px;
		text-align: center;
		width: 40px;
		position: relative;
		color: #fff;
		margin-right: 8px;
		margin-top: -5px;

		&:after {
			content:'';
			display: block;
			height: 2px;
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			background-color: $orange + #555;
		}
	}

	.car-name {
		@extend %car-header;
		font-size: 1.7em;
		line-height: 1.9em;
		font-family: $asap_b;
	}


	.num-sold {
		@extend %car-header;
		background-color: $green;
		color: #fff;
		padding: 8px 8px 8px 18px;
		position: relative;
		font-family: $asap;

		&:before {
			content:'';
			display: block;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 21px 0 21px 10px;
			border-color: transparent transparent transparent $white;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:after {
			content:'';
			display: block;
			height: 2px;
			position: absolute;
			left: 4px;
			right: 2px;
			top: 2px;
			background-color: #8dcd6c;
		}
	}

	.digit-sold {
		color: $yellow;
		font-family: $asap_b;
	}

	.safety-rating {
		@extend %car-header;
		background-color: $black;
		position: relative;
		color: #fff;
		padding: 8px 30px 8px 8px;

		&:after {
			content:'';
			display: block;
			height: 2px;
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			background-color: #7e7e7e;
		}
	}

	.star-count {
		@extend %car-header;
		padding: 8px;
		position: absolute;
		z-index: 2;
		color: #fff;
		padding: 17px 23px 0;
		top: -10px;
		right: -35px;
		font-family: $asap_b;

		&:before {
			font-family: fontAwesome;
			color: $orange;
			font-size: 62px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}

	.rating-4:before {
		color: $orange + #243;
	}


	.rating-5:before {
		color: $orange;
	}

	.car-blurb {
		font-size: 18px;
		display: block;
		text-align: justify;
		margin: auto;
	}