/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "fonts";

/* 	Variables, Mixins, Global Extends
	------------------------------------------------------- */

	$orange: #FF4700;
	$green: #7FB47A;
	$green-lime: #5cb92e;
	$gray: #d2d3d5;
	$white: #f1f2f2;

	/* 	Fonts  -------------------------------------------- */

	$asap: 'asapregular', sans-serif;
	$asap_b: 'asapbold', sans-serif;
	$asap_i: 'asapitalic', sans-serif;
	$asap_bi: 'asapbold_italic', sans-serif;


	$delicious: 'deliciousroman', sans-serif;
	$delicious_b: 'deliciousbold', sans-serif;
	$delicious_i: 'deliciousitalic', sans-serif;
	$delicious_bb: 'delicious_heavyregular', sans-serif;
	$delicious_bi: 'deliciousbold_italic', sans-serif;


	%rounded-corner {
		border-radius: 4px;
	}

	.clearfix {
		@include clearfix;
	}

	// Reveal.scss benefits from variables by being placed after them here.
	@import "reveal";


/* 	Global
	------------------------------------------------------- */

	body {
		background-color: $white;
		position: relative;
		font-family: $asap;
		font-size: 22px;
		min-width: 600px;
	}

	$bg_w: 1500px;
	$bg_h: 280px;

	.bg-bot {
		position: absolute;
		bottom: -50px;
		width: $bg_w;
		height: $bg_h;
		left: 50%;
		margin-left: (-$bg_w/2);
		background: url("../images/bg-bot.png") 0 0 no-repeat;
	}

	.bg-top {
		position: absolute;
		top: 0;
		height: 57px;
		width: 100%;
		background: url("../images/bg-top.png") 0 0 repeat-x;
	}

	.logo {
		display: block;
		background: url('../images/logo-gumtree.png') no-repeat;
		position: fixed;
		margin: 4px 10px;
		font-size: 0;
		width: 68px;
		z-index: 1;
		height: 76px;
	}

	a {
		text-decoration: none;
		@include single-transition(color, .1s , linear);
	}

	.references {
		@extend %rounded-corner;
		-webkit-transition: -webkit-transform .5s ease;
		-moz-transition: -moz-transform .5s ease;
		-ms-transition: -ms-transform .5s ease;
		-o-transition: -o-transform .5s ease;
		transition: transform .5s ease;
		background-color: $green;
		position: fixed;
		left: 0;
		bottom: 200px;
		z-index: 2;
		padding: 10px;
		display: table;
		@include translate3d(-180px, 0, 0);

		&:hover {
			@include translate3d(0, 0, 0);
		}
		a {
			display: block;
			color: #fff;
			padding: 4px;
		}

		.icon-ellipsis-horizontal {
			display: block;
			color: #fff;
			display: table-cell;
			vertical-align: middle;
		}
	}

	//IE9 fallback
	.no-transforms {
		margin-right: 0;
		.references {
			margin-left: -180px;
			&:hover {
				margin-left: 0;
			}
		}
	}

	.reference-links {
		float: left;
		margin-right: 20px;
	}

	.reveal {
		position: relative;
		top: 47px;
		height: 69%;
	}

/* 	Navigation
	------------------------------------------------------- */

	.nav-toggle {
		position: fixed;
		top: 0;
		right: 0;
		font-size: 20px;
		padding: 8px 20px;
		cursor: pointer;
		z-index: 40;

		.nav-on {
			display: none;
			color: #fff;
		}

		.nav-off {
			display: block;
		}

		&.off {
			.nav-on {
				display: block;
			}

			.nav-off {
				display: none;
			}
		}
	}

	.nav-header {
		font-size: 32px;
		line-height: 40px;
		margin-top: 38px;
		margin-bottom: 15px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		font-family: $delicious_b;
	}

	.nav-slider {
		// @include transition(all, .5s, ease-out);
		-webkit-transition: -webkit-transform .5s ease;
		-moz-transition: -moz-transform .5s ease;
		-ms-transition: -ms-transform .5s ease;
		-o-transition: -o-transform .5s ease;
		transition: transform .5s ease;
		padding: 20px 0 20px;
		background-color: $gray;
		@extend .clearfix;
		background-color: green;
		position: absolute;
		right: 0;
		z-index: 40;
		width: 280px;
		@include translate3d(0, 0, 0);

		&.off {
			@include translate3d(281px, 0, 0);
		}
	}

	//IE9 fallback
	.no-transforms {
		margin-right: 0;
		.nav-slider {
			margin-right: 0;
			&.off {
				margin-right: -281px;
			}
		}
	}

	.nav-list {
		display: block;
		padding-left: 62px;
		ol {
			list-style-type: decimal;
			display: block;
			margin: auto;
			color: #fff;

			li {

				a {
					color: #fff;
					display: inline-block;
					text-decoration: none;
					font-family: $delicious;
					padding: 2px 0;
					margin-bottom: 6px;

					&:hover {
						color: $green;
					}
				}
			}

		}
	}

/* 	Car slide
	------------------------------------------------------- */

	.car-media {
		overflow: hidden;
		height: 394px;
		width: 700px;
		text-align: center;
		margin: auto;
		position: relative;
	}
	.car-image {
		display: block;
		margin: auto;
		// @include transition(transform, .5s);
	}

	.car-vid {
		display: none;
		// @include rotateX(180deg);
		left: 0;
	}

	// Vid/image toggling

	.car-slide {

		&.vid-on {
			.car-image {
				display: none;
				// @include rotateX(180deg);
			}
			.car-vid {
				display: inline;
				// @include rotateX(0deg);
			}
		}
	}

	%car-header {
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;
	}

	.car-name {
		@extend %car-header;
		font-size: 1.9em;
		line-height: 1.9em;
		font-family: $asap_b;
	}

	.star-count {
		@extend %car-header;
		padding: 8px;
		position: relative;
		color: #fff;
		padding: 10px 15px 0;

		&:before {
			color: $orange;
			font-size: 48px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}

	.num-sold {
		@extend %car-header;
		@extend %rounded-corner;
		background-color: $green;
		color: #fff;
		font-weight: bold;
		padding: 8px;
	}

	.vid-toggle {
		cursor: pointer;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		position: absolute !important;
		top: 20px; // 20px = padding on top of slides
		right: 120px;
		background-color: $green;
		color: #fff;
		display: block;
		padding: 10px !important;
		text-decoration: none;
	}

	.car-blurb {
		font-size: 22px;
		display: block;
		padding: 0 16px;
		text-align: justify;
		margin: auto;
	}