/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fonts";
@import "reveal";


/* 	Variables, Mixins, Global Extends
	------------------------------------------------------- */

	$orange: #FF4700;
	$green: #7FB47A;
	$gray: #d2d3d5;

	/* 	Fonts  -------------------------------------------- */

	$asap: 'asapregular', sans-serif;
	$asap_b: 'asapbold', sans-serif;
	$asap_i: 'asapitalic', sans-serif;
	$asap_bi: 'asapbold_italic', sans-serif;


	$delicious: 'deliciousroman', sans-serif;
	$delicious_b: 'deliciousbold', sans-serif;
	$delicious_i: 'deliciousitalic', sans-serif;
	$delicious_bb: 'delicious_heavyregular', sans-serif;
	$delicious_bi: 'deliciousbold_italic', sans-serif;


	%rounded-corner {
		border-radius: 4px;
	}

/* 	Global
	------------------------------------------------------- */

	body {
		background-color: $gray;
		position: relative;
		font-family: $asap;
		font-size: 22px;
		min-width: 600px;
	}

	$bg_w: 1500px;
	$bg_h: 900px;

	.bg {
		position: absolute;
		bottom: 0;
		height: $bg_h;
		width: $bg_w;
		left: 50%;
		margin-left: (-$bg_w/2);
		background: url("../images/bg.jpg") 0 0 no-repeat;
	}

/* 	Navigation
	------------------------------------------------------- */

	.nav-overlay {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(170, 88, 0, 0.55);
		z-index: 2;

		&.off {
			display: none
		}
	}

	.nav-toggle {
		position: fixed;
		top: 0;
		left: 0;
		font-size: 32px;
		padding: 20px 30px;
		cursor: pointer;
		z-index: 2;

		.nav-on {
			display: none;
			color: #fff;
		}

		.nav-off {
			display: block;
		}

		&.off {
			.nav-on {
				display: block;
			}

			.nav-off {
				display: none;
			}
		}
	}

	.nav-slider {

	}

	.nav-header {
		font-size: 60px;
		line-height: 80px;
		margin-top: 35px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		font-family: $delicious_b;
	}

	$nav-list_w: 50%;
	$nav-list_min_h: 400px;

	.nav-list {
		@extend %rounded-corner;
		background-color: $gray;
		display: block;
		left: 50%;
		margin-left: -$nav-list_w/2;
		margin-top: -$nav-list_min_h/2;
		min-height: $nav-list_min_h;
		padding: 20px 0;
		position: absolute;
		text-align: center;
		top: 50%;
		width: $nav-list_w;
		list-style-type: numbered;

		ol {
			list-style-type: decimal;
			display: block;
			margin: auto;
			width: 519px;
			@extend .clearfix;

			li {

				a {
					color: $green;
					display: inline-block;
					text-decoration: none;
					font-family: $delicious;
					padding: 6px;
					margin-bottom: 6px;
				}
			}

		}
	}

	.nav-list-column {
		float: left;
		padding-left: 50px;
		text-align: left;
	}

/* 	Car slide
	------------------------------------------------------- */

	.car-image {
		display: block;
		margin: auto;
	}

	%car-header {
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;
	}

	.car-name {
		@extend %car-header;
		font-size: 2em;
		line-height: 1.8em;
	}

	.star-count {
		@extend %car-header;
		padding: 8px;
		position: relative;
		color: #fff;
		padding: 10px 15px 0;

		&:before {
			color: $orange;
			font-size: 48px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}

	.num-sold {
		@extend %car-header;
		@extend %rounded-corner;
		background-color: $green;
		color: #fff;
		font-weight: bold;
		padding: 8px;
	}

	.car-blurb {
		text-align: left;
		display: block;
		padding: 0 100px;
	}